
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutSV.cshtml";
}

<style>
 

    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background-color: whitesmoke;
        color: black;
    }

    .containers {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }
</style>

<section>
    <div class="about-section">
        <h1 style="font-size: 50px;">VỀ CHÚNG TÔI </h1>
        <p style="font-size: 20px;">- Sự kiện là điều không thể thiếu ở các trường ĐH, hàng năm có hàng ngàn sự kiện diễn ra và hàng ngàn sinh viên đăng ký. Nắm được vấn đề đó chúng tôi đã phát triển trang web quản lý sự kiện của khoa, trường.  Với nhiều năm kinh nghiệm phát triển trong lĩnh vực làm web. Chúng tôi tự hào trang web đã phát triển. Chúng tôi tin rằng sẽ cho bạn trải nghiệm tốt nhất khi sử dụng trang web.</p>
        <p style="font-size: 20px;">-	Không chỉ dừng lại ở đó trang web còn sở hữu những tính năng nổi bật như:</p>
        <p style="font-size: 20px;">…</p>

        <div class="w3-row-padding w3-center w3-margin-top">
            <div class="w3-third">
                <div class="w3-card w3-container">
                    <h3>Tìm kiếm thông tin sự kiện bằng mã</h3><br>
                    @*<img src="images/TimKiem.png" alt="Trulli" style="height: 50px;width: 100px;">*@
                    <p>Tìm kiếm mã sự kiện</p>
                    <p>Tiện lợi-nhanh chóng</p>
                    <p>Dễ dàng</p>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card w3-container">
                    <h3>Đăng ký các sự kiện trực tuyến.</h3><br>
                    @*<img src="images/TrucTuyen.jpg" alt="Trulli" style="height: 80px;width: 100px;">*@
                    <p>Hiệu quả hơn</p>
                    <p>Chuyên nghiệp</p>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card w3-container">
                    <h3>Hệ thống hỗ trợ người dùng trực tuyến.</h3><br>
                    @*<img src="images/phone.jpg" alt="Trulli" style="height: 80px;width: 100px;">*@
                    <p>Luôn hoạt động 24/7</p>
                    <p>Hỗ trợ tối ưu người dùng</p>
                </div>
            </div>
        </div>

    </div>



    @*<h2 style="text-align:center">VỀ ĐỘI NGŨ PHÁT TRIỂN</h2>

    <div class="row">

        <div class="column">
            <div class="card">
                <div class="containers">
                    <h2>Quan Thế Vinh</h2>
                    <p class="title">Leader</p>
                    <p>Leader gánh team :v</p>
                    <p>có kinh nghiệm 1 tháng trong nghề</p>
                    <p>Dẫn dắt team đến con đường thành cong</p>
                    <p>QTV@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="containers">
                    <h2>Quan Thế Vinh</h2>
                    <p class="title">Leader</p>
                    <p>Leader gánh team :v</p>
                    <p>có kinh nghiệm 1 tháng trong nghề</p>
                    <p>Dẫn dắt team đến con đường thành cong</p>
                    <p>QTV@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="containers">
                    <h2>Quan Thế Vinh</h2>
                    <p class="title">Leader</p>
                    <p>Leader gánh team :v</p>
                    <p>có kinh nghiệm 1 tháng trong nghề</p>
                    <p>Dẫn dắt team đến con đường thành cong</p>
                    <p>QTV@gmail.com</p>
                </div>
            </div>
        </div>


    </div>*@
</section>
<!--END DASHBOARD-->
