
@{
    ViewBag.Title = "Không có quyền";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Unauthorized</h2>*@

<!-- Main content NỘI DUNG CHÍNH RAZOR -->
<section class="content">
    <!-- Your Page Content Here -->
    <center>
        <h2><b class="alert alert-danger">@ViewBag.message</b></h2>
    </center>
</section><!-- /.content -->
