<section>
    <div class="ed-mob-menu">
        <div class="ed-mob-menu-con">
            <div class="ed-mm-left">
                <div class="wed-logo">
                    <a href="#">
                     
                        <img src="~/images/logo/logo4.png" />
                    </a>
                </div>
            </div>
            <div class="ed-mm-right">
                <div class="ed-mm-menu">
                    <a href="javascript:void(0)" class="ed-micon"><i class="fa fa-bars"></i></a>
                    <div class="ed-mm-inn">
                        <a href="javascript:void(0)" class="ed-mi-close"><i class="fa fa-times"></i></a>
                        <h4>EventBox</h4>
                        <ul>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Hội nghị - Sự kiện</a></li>

                        </ul>

                        <h4>Sự kiện của tôi</h4>
                        <ul>
                            <li><a href="#">Sự kiện của tôi</a></li>
                            <li><a href="#">Sự kiện đăng ký tham gia</a></li>
                        </ul>
                        <h4>Tài khoản</h4>
                        <ul>
                            <!-- HTML login -->
                            <li><a href="#">Đăng nhập</a></li>
                            <li><a href="#">Đăng ký</a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
